.DS_Store
notes.md

##vagrant##
.vagrant

#phpstorm
/*.iml
.idea/

##netbeans#
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

### Laravel ###
laravel/bootstrap/compiled.php
laravel/.env.*.php
laravel/.env.php
